In [1]:
import pandas as pd
file=pd.read_csv("results.csv")
df={"Teams":None}

In [2]:
df={"Teams":None}
df["Teams"]=file[file["season"]=="2006-2007"]["home_team"].unique()

list1=[]
def draw(coun): 
    
    data=file.loc[(file["season"]=="2006-2007")&((file["home_team"]==coun)|(file["away_team"]==coun))]
    list1.append(len(data[data["result"]=="D"]))

In [3]:
for i in df["Teams"]:
    draw(i)
df["draw"]=list1

In [4]:
limited_data=file.loc[(file["season"]=="2006-2007")]

In [5]:
list1=[]
for i in df["Teams"]:
    list1.append(len(limited_data.loc[(limited_data["home_team"]==i) & (limited_data["result"]=="H")|(limited_data["away_team"]==i) & (limited_data["result"]=="A")]))
df["Wins"]=list1

In [6]:
list1=[]
for i in df["Teams"]:
    list1.append(len(limited_data.loc[(limited_data["home_team"]==i) & (limited_data["result"]=="A")|(limited_data["away_team"]==i) & (limited_data["result"]=="H")]))
df["Loss"]=list1

In [7]:
df=pd.DataFrame(df)

In [8]:
limited_data.loc[(limited_data["home_team"]=="Arsenal")]["home_goals"].sum()+limited_data.loc[(limited_data["away_team"]=="Arsenal")]["away_goals"].sum()
limited_data.loc[(limited_data["home_team"]=="Arsenal")]["away_goals"].sum()+limited_data.loc[(limited_data["away_team"]=="Arsenal")]["home_goals"].sum()

35.0

In [9]:
list1=[]

list2=[]
list3=[]
for i in df["Teams"]:
    list1.append(limited_data.loc[(limited_data["home_team"]==i)]["home_goals"].sum()+limited_data.loc[(limited_data["away_team"]==i)]["away_goals"].sum())
    list2.append(limited_data.loc[(limited_data["home_team"]==i)]["away_goals"].sum()+limited_data.loc[(limited_data["away_team"]==i)]["home_goals"].sum())
    list3.append((limited_data.loc[(limited_data["home_team"]==i)]["home_goals"].sum()+limited_data.loc[(limited_data["away_team"]==i)]["away_goals"].sum())-(limited_data.loc[(limited_data["home_team"]==i)]["away_goals"].sum()+limited_data.loc[(limited_data["away_team"]==i)]["home_goals"].sum()))
df["GF"]=list1
df["GA"]=list2
df["GD"]=list3

In [10]:
df["points"]=((df["Wins"]*3)+(df["draw"]))

In [11]:

df=df.sort_values(by=['points'], ascending=False)

In [12]:

df=df.sort_values(by=['points'], ascending=False)

df.reset_index(inplace = True, drop = True)
df

                Teams  draw  Wins  Loss    GF    GA    GD  points
0   Manchester United     5    28     5  83.0  27.0  56.0      89
1             Chelsea    11    24     3  64.0  24.0  40.0      83
2           Liverpool     8    20    10  57.0  27.0  30.0      68
3             Arsenal    11    19     8  63.0  35.0  28.0      68
4   Tottenham Hotspur     9    17    12  57.0  54.0   3.0      60
5             Everton    13    15    10  52.0  36.0  16.0      58
6    Bolton Wanderers     8    16    14  47.0  52.0  -5.0      56
7             Reading     7    16    15  52.0  47.0   5.0      55
8          Portsmouth    12    14    12  45.0  42.0   3.0      54
9    Blackburn Rovers     7    15    16  52.0  54.0  -2.0      52
10        Aston Villa    17    11    10  43.0  41.0   2.0      50
11      Middlesbrough    10    12    16  44.0  49.0  -5.0      46
12   Newcastle United    10    11    17  38.0  47.0  -9.0      43
13    Manchester City     9    11    18  29.0  44.0 -15.0      42
14    West Ham United     5    12    21  35.0  59.0 -24.0      41
15             Fulham    15     8    15  38.0  60.0 -22.0      39
16   Sheffield United     8    10    20  32.0  55.0 -23.0      38
17     Wigan Athletic     8    10    20  37.0  59.0 -22.0      38
18  Charlton Athletic    10     8    20  34.0  60.0 -26.0      34
19            Watford    13     5    20  29.0  59.0 -30.0      28

# shortened code (code#2)

In [13]:
df={"Teams":None}
df["Teams"]=file[file["season"]=="2006-2007"]["home_team"].unique()

list1=[]
for i in df["Teams"]: 
    
    data=file.loc[(file["season"]=="2006-2007")&((file["home_team"]==i)|(file["away_team"]==i))]
    list1.append(len(data[data["result"]=="D"]))
df["draw"]=list1    
limited_data=file.loc[(file["season"]=="2006-2007")]
df=pd.DataFrame(df)

In [19]:
list1=[]
list2=["H","A"]
list3=["wins","loss"]
for j in range(len(list2)):
    list1=[]
    for i in df["Teams"]:
        list1.append(len(limited_data.loc[(limited_data["home_team"]==i) & (limited_data["result"]==list2[0])|(limited_data["away_team"]==i) & (limited_data["result"]==list2[1])]))
    list2=[list2[1],list2[0]]
    df[list3[j]]=list1

In [20]:


list2=["home_goals","away_goals"]
list3=["GF","GA"]
for j in range(len(list2)):
    list1=[]
    for i in df["Teams"]:
        list1.append(limited_data.loc[(limited_data["home_team"]==i)][list2[0]].sum()+limited_data.loc[(limited_data["away_team"]==i)][list2[1]].sum())
    list2=[list2[1],list2[0]]
    df[list3[j]]=list1 
df["GD"]=(df["GF"]-df["GA"])
df["points"]=((df["wins"]*3)+(df["draw"]))

In [21]:

df=df.sort_values(by=['points'], ascending=False)

df.reset_index(inplace = True, drop = True)
df

                Teams  draw  wins  loss    GF    GA    GD  points
0   Manchester United     5    28     5  83.0  27.0  56.0      89
1             Chelsea    11    24     3  64.0  24.0  40.0      83
2           Liverpool     8    20    10  57.0  27.0  30.0      68
3             Arsenal    11    19     8  63.0  35.0  28.0      68
4   Tottenham Hotspur     9    17    12  57.0  54.0   3.0      60
5             Everton    13    15    10  52.0  36.0  16.0      58
6    Bolton Wanderers     8    16    14  47.0  52.0  -5.0      56
7             Reading     7    16    15  52.0  47.0   5.0      55
8          Portsmouth    12    14    12  45.0  42.0   3.0      54
9    Blackburn Rovers     7    15    16  52.0  54.0  -2.0      52
10        Aston Villa    17    11    10  43.0  41.0   2.0      50
11      Middlesbrough    10    12    16  44.0  49.0  -5.0      46
12   Newcastle United    10    11    17  38.0  47.0  -9.0      43
13    Manchester City     9    11    18  29.0  44.0 -15.0      42
14    West Ham United     5    12    21  35.0  59.0 -24.0      41
15             Fulham    15     8    15  38.0  60.0 -22.0      39
16   Sheffield United     8    10    20  32.0  55.0 -23.0      38
17     Wigan Athletic     8    10    20  37.0  59.0 -22.0      38
18  Charlton Athletic    10     8    20  34.0  60.0 -26.0      34
19            Watford    13     5    20  29.0  59.0 -30.0      28